@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

body {
  
  text-align: center;
}

.col-form-label{
    
    color:  #4E5258;
    font-family: 'lato';
    font-weight: 400;
    font-size: 16px;
}


.fondo-card{
    background: #F7F7F7;
    border-radius: 15px;
    border: .5px solid #6070E4;
}
.btn-inicio{
    position:absolute;
    right: 0;
    margin: 170px 0 10px !important;
}


.titulo-salir{
    font-family: 'lato';
    font-size: 55px;
    font-weight: 300;
    text-align: center;
    color: #6070E4;
    padding: 0;
    margin-top: -40px;
}

.ocultar{
    display: none;
    
}
.btnfinish{
    border-radius: 10px;
    padding: 12px;
    font-size: 1.2rem;
}


.nextBtn:hover{
    background: #FDC134;
    color: #fff;
}

.previousBtn:hover{
    background: #FDC134;
    color: #fff;
}

.btn-salir{
    
   float: right;
    margin: 280px 0 40px !important;
    
    
    
}

.nextBtn{
    border-radius: 30px;
    font-size: 1rem;
    padding: 5px 30px;
    overflow:hidden;
    background: #fff;
    color: #31C6C7;
    border: 2.5px solid #FDC134;
    margin: 20px 0 40px;
    
}

.previousBtn{
    border-radius: 30px;
    font-size: 1rem;
    padding: 5px 30px;
    overflow:hidden;
    background: #fff;
    color: #31C6C7;
    border: 2.5px solid #FDC134;
    margin: 60px 0 0px;
    
}



.titulo-form-personal{
    font-family: 'lato';
    font-size: 55px;
    font-weight: 300;
    text-align: center;
    color: #6070E4;
    
}

.titulo-form-autor{
    font-family: 'lato';
    font-size: 20px;
    font-weight: 300;
    text-align: right;
    color: #6070E4;
    
}


.titulo-num{
    font-family: lato;
    font-size: 20px;
    text-align: center;
    color:#BABABA;
}

.step-progress {
  align-self: auto;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  
  
    

}
.step-progress.dark {
  background: #555;
    
}
.step-progress.dark .step .point {
  border: 5px solid #eee;
  color: #eee;
    
}
.step-progress.dark .step .progress {
  background: #eee;
}
.step-progress .step {
  align-items: center;
  align-self: auto;
  color: #fff;
  display: flex;
  justify-content: center;
    
	
}
.step-progress .step.active .point {
  background: #fff;
  border: 2.5px solid #31C6C7;
  color:#31C6C7 !important;
  transition: all 0.2s;
  transition-delay: 0.3s;
pointer-events:visible !important;
    
}
.step-progress .step.active .progress:after {
  width: 110%;
  transition: width 0.3s ease;
    
    
}
.step-progress .step .point {
  display: inline-block;
  border: 2.5px solid #31C6C7;
  border-radius: 50%;
  color: #aaa ;
  cursor: pointer;
  height: 55px;  
  width: 55px;
  text-align: center;
  z-index: 3;
    
    
	  
}
.step-progress .step .progress {
  pointer-events: none;
  width: 50px;
  background: #F0EFEF;
  height: 13px;
  border-radius: 0;  
  /*margin-top: -10px;--*/
  position:inherit;
 z-index: 1;
}

.progress-inicio{
    border-bottom-left-radius: 10px !important; 
    border-top-left-radius: 10px !important;
}

.progress-final{
    border-bottom-right-radius: 10px !important; 
    border-top-right-radius: 10px !important;
}
.step-progress .step .progress:after {
  content: '';
  display: block;
  width: %;
  height: 100%;
  background: #FCC95D;
    
}
/* Smartphones (portrait) ----------- */



@media(max-width: 768px){
	.step-progress {
  align-self: auto;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  margin: 15px auto;
  padding: 30px 0px;

}
.step-progress .step .point {
  display: inline-block;
  border: 2px solid #aaa;
  border-radius: 70px;
  color: #aaa;
  cursor: pointer;
  font-weight: bold;
  height: 90px;
  line-height: 110px;
  width: 90px;
  text-align: center;
  z-index: 3;
	visibility: visible;
    animation-duration: 2s; 
    animation-delay: 200ms;
    animation-iteration-count: infinite;
    animation-name: pulse;
}
	
	div.point i.fas{
	font-size: 2rem;
}

div.point p.titulo-point{
	font-size: 13px;
	margin-top: -10px;
	font-family: Poppins;
	font-weight: 500;
	text-align: center;
	
	white-space:pre-wrap;
	line-height: normal;
}
	
.step-progress .step .progress {
  pointer-events: none;
  width: 50px;
  background: #aaa;
  height: 6px;
  margin: 0px 10px;
  position: relative;
  z-index: 0;
}



}
@media(max-width: 575px){
.step-progress {
  align-self: auto;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  margin-left: -10px;
  padding: 35px 0px;
	

}
.step-progress .step .point {
  display: inline-block;
  border: 5px solid #aaa;
  border-radius: 50px;
  color: #aaa;
  cursor: pointer;
  font-weight: bold;
  height: 75px;
  line-height: 90px;
  width: 75px;
  text-align: center;
  z-index: 3;
	visibility: visible;
    animation-duration: 2s; 
    animation-delay: 200ms;
    animation-iteration-count: infinite;
    animation-name: pulse;
}
	
	div.point i.fas{
	font-size: 2.6rem;
}

div.point p.titulo-point{
	font-size: 11px;
	margin-top: -10px;
	font-family: Poppins;
	font-weight: 500;
	text-align: center;
	white-space:pre-wrap;
	line-height: normal;
}
	
.step-progress .step .progress {
  pointer-events: none;
  width: 30px;
  background: #aaa;
  height: 6px;
  margin: 0px 0px;
  position: relative;
  z-index: 0;
}
}
@media (max-width : 414px) {

		.step-progress {
  align-self:center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  
  justify-content: center;
  
  padding: 0px 0px;
   
  display: table-cell; 
	vertical-align: middle;

}
.step-progress .step .point {
	
margin: 30px auto;
position: relative;		
  display: inline-block;
  border: 5px solid #aaa;
  border-radius: 80px;
  color: #aaa;
  cursor: pointer;
  font-weight: bold;
  height: 120px;
  line-height: 110px;
  width: 120px;
  text-align: center;
  z-index: 3;
	visibility: visible;
    animation-duration: 2s; 
    animation-delay: 200ms;
    animation-iteration-count: infinite;
    animation-name: pulse;
}
	
	div.point i.fas{
	font-size: 3.6rem;
		
}

div.point p.titulo-point{
	font-size: 12px;
	margin-top: -40px;
	font-family: Poppins;
	font-weight: 600;
	text-align: center;
	line-height: normal;
	
   
	
	
}

.step-progress .step .progress {
	

  pointer-events: none;
  width: 10px;
  background: #aaa;
  
  margin: 0px 0px;
  margin-top: -90px;
	
  z-index: 0;
  display: table;
   height: 30px;
	position: absolute;
	overflow: hidden
}


	
	
}


/*
 *
 * TOOLTIPTSTER DEFAULT CSS
 */
.tooltipster-default {
  border-radius: 5px;
  border: 2px solid #000;
  background: #4c4c4c;
  color: #fff;
}

.tooltipster-default .tooltipster-content {
  
  font-size: 10px;
  line-height: 16px;
  padding: 8px 10px;
  overflow: hidden;
}

.tooltipster-icon {
  cursor: help;
  margin-left: 4px;
}

.tooltipster-base {
  padding: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999999;
  pointer-events: none;
  width: auto;
  overflow: visible;
}

.tooltipster-base .tooltipster-content {
  overflow: hidden;
}

.tooltipster-arrow {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.tooltipster-arrow span, .tooltipster-arrow-border {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
}

.tooltipster-arrow-top span,
.tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-top: 8px solid;
  bottom: -7px;
}

.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {
  border-left: 9px solid transparent !important;
  border-right: 9px solid transparent !important;
  border-top: 9px solid;
  bottom: -7px;
}

.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-bottom: 8px solid;
  top: -7px;
}

.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
  border-left: 9px solid transparent !important;
  border-right: 9px solid transparent !important;
  border-bottom: 9px solid;
  top: -7px;
}

.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border {
  left: 0;
  right: 0;
  margin: 0 auto;
}

.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span {
  left: 6px;
}

.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
  left: 5px;
}

.tooltipster-arrow-top-right span, .tooltipster-arrow-bottom-right span {
  right: 6px;
}

.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border {
  right: 5px;
}

.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border {
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-left: 8px solid;
  top: 50%;
  margin-top: -7px;
  right: -7px;
}

.tooltipster-arrow-left .tooltipster-arrow-border {
  border-top: 9px solid transparent !important;
  border-bottom: 9px solid transparent !important;
  border-left: 9px solid;
  margin-top: -8px;
}

.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border {
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-right: 8px solid;
  top: 50%;
  margin-top: -7px;
  left: -7px;
}

.tooltipster-arrow-right .tooltipster-arrow-border {
  border-top: 9px solid transparent !important;
  border-bottom: 9px solid transparent !important;
  border-right: 9px solid;
  margin-top: -8px;
}

.tooltipster-fade {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}

.tooltipster-fade-show {
  opacity: 1;
}

.tooltipster-grow {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-backface-visibility: hidden;
}

.tooltipster-grow-show {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
}

.tooltipster-swing {
  opacity: 0;
  -webkit-transform: rotateZ(4deg);
  -moz-transform: rotateZ(4deg);
  -o-transform: rotateZ(4deg);
  -ms-transform: rotateZ(4deg);
  transform: rotateZ(4deg);
  -webkit-transition-property: -webkit-transform,opacity;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
}

.tooltipster-swing-show {
  opacity: 1;
  -webkit-transform: rotateZ(0);
  -moz-transform: rotateZ(0);
  -o-transform: rotateZ(0);
  -ms-transform: rotateZ(0);
  transform: rotateZ(0);
  -webkit-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 1);
  -webkit-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  -moz-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  -ms-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  -o-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
}

.tooltipster-fall {
  top: 0;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  -ms-transition-property: top;
  transition-property: top;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
}

.tooltipster-fall.tooltipster-dying {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  top: 0 !important;
  opacity: 0;
}

.tooltipster-slide {
  left: -40px;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  -ms-transition-property: left;
  transition-property: left;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
}

.tooltipster-slide.tooltipster-dying {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  left: 0 !important;
  opacity: 0;
}

.tooltipster-content-changing {
  opacity: .5;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

/* *
 * TOOLTIPTSTER OVERRIDE CSS
 */
.tooltipster-light {
  border-radius: 5px;
  background-color: #31C6C7;
  color: #fff;
	
}

.tooltipster-content {
 
  color: white;
  font-size: 10px;
  line-height: 15px;
  padding: 7px 7px;
}




