.btn-perfil{
    border-radius: 30px;
    font-size: 1rem;
    padding: 5px 30px;
    overflow:hidden;
    background: #FFB300;
    color: #fff;
    border: 2.5px solid #FDC134;
    margin: 20px 20px 40px;
    
}

.btn-perfil:hover{
    background: #FDC134;
    color: #fff;
}

.navbar-perfil{
    
    background: #FFC948
}

.progress-bar-color{
    background: #FFB300;
    border-radius: 10px;
}
.progress{
    border-radius: 10px;
}

.progress-text{
    
    font-size: 20px;
    margin: 10px; 
    font-family: lato;
    color: #ffffff;
    
}

.titulo-logros{
    text-align: left;
    font-family: lato;
    font-size: 25px;
    color: #31C6C7;
}
.titulo-avatars{
    text-align: left;
    font-family: lato;
    font-size: 25px;
    color: #31C6C7;
}

.img-trofeo{
    width: 70%;
    margin: 15px auto 15px ;
    
}

.fondo-trofeo{
    border: #707070 solid 1px;
    padding: 10px;
}

.titulo-trofeo{
    font-family: lato;
    font-size: 16px;
    color: #5C5C5C;
}

.num-trofeo{
    color: #005B90 !important;
    font-family: lato;
    font-size: 14px;
    text-align: center;
}