@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

.titulo-form-personal{
    font-family: 'lato';
    font-size: 55px;
    font-weight: 300;
    text-align: center;
    color: #6070E4;
}
.btn-inicio{
     
    position:absolute;
    right: 0;    
    margin-top: 140px !important;
}
.btn-salir{
    
   float: right;
    margin: 150px 0 10px !important;
    
    
    
}

.titulo-salir{
    font-family: 'lato';
    font-size: 55px;
    font-weight: 300;
    text-align: center;
    color: #6070E4;
    padding: 0;
    margin-top: -40px;
}


.ocultar{
    display: none;
    
}
.btnfinish{
    border-radius: 10px;
    padding: 12px;
    font-size: 1.2rem;
}
  

.nextBtn:hover{
    background: #FDC134;
    color: #fff;
}

.nextBtn{
 border-radius: 30px;
    font-size: 1rem;
    padding: 5px 30px;
    overflow:hidden;
    background: #fff;
    color: #31C6C7;
    border: 2.5px solid #FDC134;
    margin: 20px 0 40px;
    
    
}


.btn-circle.btn-xl {
    width:70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
	
   
    width: 70px;
    height: 70px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 3.3;
    background: #ffffff;
    color: #31C6C7;
    
    
}
.btn-circle:hover{
    background: #fff;
    color: #BABABA;
}

.btn-circle:disabled{
    background: #fff;
    
}


@media(max-width: 572px){
	.btn-circle{
		width: 100px;
		
	}
	
	.form-label2{
		font-size: 13px;
	}
	
	.form-input:focus:only-of-type ~ .form-label,
.form-input:valid:only-of-type ~ .form-label {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  font-size: 0.9rem;
}

.form-input:only-of-type ~ .form-label {
  -webkit-transform: translateY(0.5em);
  transform: translateY(0.5em);
  font-size: 100%;
}


	
}
@media(max-width: 991px){
	.btn-circle{
		width: 100px;
		
	}
	
	.form-label2{
		font-size: 12px;
	}
	
	.form-input:focus:only-of-type ~ .form-label,
.form-input:valid:only-of-type ~ .form-label {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  font-size: 0.9rem;
}

.form-input:only-of-type ~ .form-label {
  -webkit-transform: translateY(0.5em);
  transform: translateY(0.5em);
  font-size: 90%;
}


	
	
}

@media(max-width: 420px){
	
	label.form-label{
		font-size: 12px;
	}
	
	.btn-circle{
		width: 50px;
		height: 50px
		
	}
	
	a.btn i.fa-2x{
		font-size: 30px;
			
	}
	
	.stepwizard-row:before{
		zoom:.7;
	}
	.form-input:focus:only-of-type ~ .form-label,
.form-input:valid:only-of-type ~ .form-label {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  font-size: 0.8rem;
}

.form-input:only-of-type ~ .form-label {
  -webkit-transform: translateY(0.5em);
  transform: translateY(0.5em);
  font-size: 90%;
}


	
	
	
	
}

@media(max-width: 320px){
	a.btn i.fa-2x{
		font-size: 30px;
			
	}
	
	.form-label{
		font-size: 10px;
	}
	
	.form-label2{
		font-size: 10px;
	}
	
.btn-circle{
	
	width: 50px;
    height: 40px;
    
    border-radius: 5px;
    
    
    line-height: 1;
		
	}
	
	.stepwizard-row:before{
		zoom:0.6;
	}
	
.form-input:focus:only-of-type ~ .form-label,
.form-input:valid:only-of-type ~ .form-label {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  font-size: 0.8rem;
}

.form-input:only-of-type ~ .form-label {
  -webkit-transform: translateY(0.5em);
  transform: translateY(0.5em);
  font-size: 90%;
}


}

.stepwizard {
  display: table;
  width: 100%;
  position: relative;
  margin-top: 20px;
}
.stepwizard p {
  margin-top: 5px;
}
.stepwizard-row {
  display: table-row;
}
.stepwizard-row:before {
  top: 30px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #ccc;
  z-order: 1;
}
.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}
.stepwizard-step {

}


.stepwizard-step .btn.disabled {
  opacity: 3 !important;
  filter: alpha(opacity=100) !important;
}



/*
 *
 * TOOLTIPTSTER DEFAULT CSS
 */
.tooltipster-default {
  border-radius: 5px;
  border: 2px solid #000;
  background: #4c4c4c;
  color: #fff;
}

.tooltipster-default .tooltipster-content {
  
  font-size: 10px;
  line-height: 16px;
  padding: 8px 10px;
  overflow: hidden;
}

.tooltipster-icon {
  cursor: help;
  margin-left: 4px;
}

.tooltipster-base {
  padding: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999999;
  pointer-events: none;
  width: auto;
  overflow: visible;
}

.tooltipster-base .tooltipster-content {
  overflow: hidden;
}

.tooltipster-arrow {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.tooltipster-arrow span, .tooltipster-arrow-border {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
}

.tooltipster-arrow-top span,
.tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-top: 8px solid;
  bottom: -7px;
}

.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {
  border-left: 9px solid transparent !important;
  border-right: 9px solid transparent !important;
  border-top: 9px solid;
  bottom: -7px;
}

.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-bottom: 8px solid;
  top: -7px;
}

.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
  border-left: 9px solid transparent !important;
  border-right: 9px solid transparent !important;
  border-bottom: 9px solid;
  top: -7px;
}

.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border {
  left: 0;
  right: 0;
  margin: 0 auto;
}

.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span {
  left: 6px;
}

.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
  left: 5px;
}

.tooltipster-arrow-top-right span, .tooltipster-arrow-bottom-right span {
  right: 6px;
}

.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border {
  right: 5px;
}

.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border {
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-left: 8px solid;
  top: 50%;
  margin-top: -7px;
  right: -7px;
}

.tooltipster-arrow-left .tooltipster-arrow-border {
  border-top: 9px solid transparent !important;
  border-bottom: 9px solid transparent !important;
  border-left: 9px solid;
  margin-top: -8px;
}

.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border {
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-right: 8px solid;
  top: 50%;
  margin-top: -7px;
  left: -7px;
}

.tooltipster-arrow-right .tooltipster-arrow-border {
  border-top: 9px solid transparent !important;
  border-bottom: 9px solid transparent !important;
  border-right: 9px solid;
  margin-top: -8px;
}

.tooltipster-fade {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}

.tooltipster-fade-show {
  opacity: 1;
}

.tooltipster-grow {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-backface-visibility: hidden;
}

.tooltipster-grow-show {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
}

.tooltipster-swing {
  opacity: 0;
  -webkit-transform: rotateZ(4deg);
  -moz-transform: rotateZ(4deg);
  -o-transform: rotateZ(4deg);
  -ms-transform: rotateZ(4deg);
  transform: rotateZ(4deg);
  -webkit-transition-property: -webkit-transform,opacity;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
}

.tooltipster-swing-show {
  opacity: 1;
  -webkit-transform: rotateZ(0);
  -moz-transform: rotateZ(0);
  -o-transform: rotateZ(0);
  -ms-transform: rotateZ(0);
  transform: rotateZ(0);
  -webkit-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 1);
  -webkit-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  -moz-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  -ms-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  -o-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
}

.tooltipster-fall {
  top: 0;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  -ms-transition-property: top;
  transition-property: top;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
}

.tooltipster-fall.tooltipster-dying {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  top: 0 !important;
  opacity: 0;
}

.tooltipster-slide {
  left: -40px;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  -ms-transition-property: left;
  transition-property: left;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
}

.tooltipster-slide.tooltipster-dying {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  left: 0 !important;
  opacity: 0;
}

.tooltipster-content-changing {
  opacity: .5;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

/* *
 * TOOLTIPTSTER OVERRIDE CSS
 */
.tooltipster-light {
  border-radius: 5px;
  background-color: #308ee6;
  color: #fff;
	
}

.tooltipster-content {
 
  color: white;
  font-size: 10px;
  line-height: 15px;
  padding: 7px 7px;
}




/*FORM 2*/
